.flex-contener{
    display:flex;
    flex-wrap: wrap;
    
}
.flex-item{
    text-align: center;
    background-color: blue;
    min-width: 120px;
    height: 100px;
    margin: 10px;
    color:wheat;
    width: 200px;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}